# Configuration file

backpacks {

    miner {
        # Add itemStacks for the miner's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
            BiomesOPlenty:ashStone:0
            BiomesOPlenty:cragRock:0
            BiomesOPlenty:driedDirt:0
            BiomesOPlenty:gemOre:0
            BiomesOPlenty:gemOre:10
            BiomesOPlenty:gemOre:12
            BiomesOPlenty:gemOre:14
            BiomesOPlenty:gemOre:2
            BiomesOPlenty:gemOre:4
            BiomesOPlenty:gemOre:6
            BiomesOPlenty:gemOre:8
            BiomesOPlenty:gems
            BiomesOPlenty:overgrownNetherrack:0
            Forestry:brokenBronzePickaxe:0
            Forestry:bronzePickaxe:0
            Forestry:kitPickaxe:0
            minecraft:coal:0
            minecraft:coal_ore:0
            minecraft:obsidian:0
         >

        # Add ore dictionary names for the miner's backpack here in the format 'oreDictName'.
        S:oreDict <
            crushedUranium
            dustAsh
            dustBlutonium
            dustCertusQuartz
            dustCoal
            dustCyanite
            dustEnder
            dustEnderPearl
            dustFluix
            dustGlowstone
            dustGold
            dustGraphite
            dustIron
            dustLead
            dustLudicrite
            dustNetherQuartz
            dustNickel
            dustObsidian
            dustPlatinum
            dustPlutonium
            dustRedstone
            dustSaltpeter
            dustSawdust
            dustSilver
            dustSulfur
            dustTitanium
            dustTungsten
            dustUranium
            dustWheat
            dustYellorium
            dustZinc
            gemAmber
            gemApatite
            gemDiamond
            gemEmerald
            gemLapis
            gemMalachite
            gemPeridot
            gemQuartz
            gemRuby
            gemSapphire
            gemTanzanite
            gemTopaz
            ingotAluminium
            ingotBlutonium
            ingotBrass
            ingotBrick
            ingotBrickNether
            ingotBronze
            ingotCoal
            ingotCopper
            ingotCyanite
            ingotGold
            ingotGraphite
            ingotInvar
            ingotIron
            ingotLead
            ingotLudicrite
            ingotNickel
            ingotPlatinum
            ingotPlutonium
            ingotSilver
            ingotSteel
            ingotTin
            ingotTitanium
            ingotTungsten
            ingotUranium
            ingotYellorium
            ingotZinc
            nuggetCopper
            nuggetDiamond
            nuggetEmerald
            nuggetGold
            nuggetIron
            nuggetQuartz
            nuggetTin
            oreAluminum
            oreAmber
            oreApatite
            oreCertusQuartz
            oreCoal
            oreCopper
            oreDiamond
            oreEmerald
            oreGold
            oreIron
            oreLapis
            oreLead
            oreMalachite
            oreNickel
            oreOsmium
            orePeridot
            orePlatinum
            oreQuartz
            oreRedstone
            oreRuby
            oreSapphire
            oreSilver
            oreTanzanite
            oreTin
            oreTopaz
            oreYellorite
            oreYellorium
         >
    }

    digger {
        # Add itemStacks for the digger's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
            BiomesOPlenty:ash:0
            BiomesOPlenty:bopGrass
            BiomesOPlenty:hardDirt:0
            BiomesOPlenty:hardSand:0
            BiomesOPlenty:longGrass:0
            BiomesOPlenty:mud:0
            BiomesOPlenty:originGrass:0
            Forestry:brokenBronzeShovel:0
            Forestry:bronzeShovel:0
            Forestry:kitShovel:0
            chisel:andesite:0
            chisel:diorite:0
            chisel:granite:0
            chisel:limestone:0
            chisel:marble:0
            minecraft:clay_ball:0
            minecraft:dirt
            minecraft:flint:0
            minecraft:gravel:0
            minecraft:netherrack:0
            minecraft:sandstone:0
            minecraft:soul_sand:0
         >

        # Add ore dictionary names for the digger's backpack here in the format 'oreDictName'.
        S:oreDict <
            cobblestone
            sand
            stone
            stoneAndesite
            stoneDiorite
            stoneGranite
         >
    }

    forester {
        # Add itemStacks for the forester's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
            BiomesOPlenty:appleLeaves
            BiomesOPlenty:bamboo
            BiomesOPlenty:colorizedLeaves1
            BiomesOPlenty:colorizedLeaves2
            BiomesOPlenty:colorizedSaplings
            BiomesOPlenty:leaves1
            BiomesOPlenty:leaves2
            BiomesOPlenty:leaves3
            BiomesOPlenty:leaves4
            BiomesOPlenty:logs1
            BiomesOPlenty:logs2
            BiomesOPlenty:logs3
            BiomesOPlenty:logs4
            BiomesOPlenty:persimmonLeaves
            BiomesOPlenty:petals
            BiomesOPlenty:saplings
            minecraft:brown_mushroom:0
            minecraft:cactus:0
            minecraft:golden_apple:0
            minecraft:melon_block:0
            minecraft:melon_seeds:0
            minecraft:nether_wart:0
            minecraft:pumpkin:0
            minecraft:pumpkin_seeds:0
            minecraft:red_flower:0
            minecraft:red_mushroom:0
            minecraft:tallgrass
            minecraft:vine:0
            minecraft:yellow_flower:0
         >

        # Add ore dictionary names for the forester's backpack here in the format 'oreDictName'.
        S:oreDict <
            cropAcorn
            cropAllium
            cropAlmond
            cropApple
            cropApricot
            cropAurigold
            cropBanana
            cropBeechnut
            cropBlackCherry
            cropBlackthorn
            cropBrazilNut
            cropBuddhaHand
            cropButternut
            cropCactus
            cropCarrot
            cropCherry
            cropCherryPlum
            cropChestnut
            cropCitron
            cropClove
            cropCoffee
            cropCrabapple
            cropCuprosia
            cropDaisy
            cropDandelion
            cropDate
            cropDiamahlia
            cropElderberry
            cropEmeryllis
            cropFerranium
            cropFig
            cropFingerLime
            cropGingkoNut
            cropGrapefruit
            cropHazelnut
            cropHops
            cropKeyLime
            cropKumquat
            cropLapender
            cropLemon
            cropLime
            cropManderin
            cropMelon
            cropNectarine
            cropNitorWart
            cropOlive
            cropOrange
            cropOrchid
            cropOsangeOrange
            cropPapaya
            cropPeach
            cropPear
            cropPecan
            cropPetinia
            cropPlantain
            cropPlum
            cropPomelo
            cropPoppy
            cropPotato
            cropPumpkin
            cropQuartzanthemum
            cropRedBanana
            cropRedstodendron
            cropSandPear
            cropSatsuma
            cropShroomBrown
            cropShroomRed
            cropSourCherry
            cropSugarcane
            cropTangerine
            cropTulipOrange
            cropTulipPink
            cropTulipRed
            cropTulipWhite
            cropWalnut
            cropWheat
            cropWildCherry
            logWood
            saplingTree
            seedAllium
            seedAurigold
            seedBarley
            seedCactus
            seedCarrot
            seedCorn
            seedCuprosia
            seedDaisy
            seedDandelion
            seedDiamahlia
            seedEmeryllis
            seedFerranium
            seedLapender
            seedMelon
            seedNitorWart
            seedOrchid
            seedPetinia
            seedPoppy
            seedPotato
            seedPumpkin
            seedQuartzanthemum
            seedRedstodendron
            seedRoasted
            seedRye
            seedShroomBrown
            seedShroomRed
            seedSugarcane
            seedTulipOrange
            seedTulipPink
            seedTulipRed
            seedTulipWhite
            seedWheat
            stickWood
            treeLeaves
            treeSapling
            woodStick
         >
    }

    hunter {
        # Add itemStacks for the hunter's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
            minecraft:arrow:0
            minecraft:beef:0
            minecraft:blaze_powder:0
            minecraft:blaze_rod:0
            minecraft:bone:0
            minecraft:chicken:0
            minecraft:cooked_beef:0
            minecraft:cooked_chicken:0
            minecraft:cooked_fished:0
            minecraft:cooked_porkchop:0
            minecraft:diamond_horse_armor:0
            minecraft:dye:0
            minecraft:egg:0
            minecraft:ender_eye:0
            minecraft:ender_pearl:0
            minecraft:feather:0
            minecraft:fermented_spider_eye:0
            minecraft:fish:0
            minecraft:fishing_rod:0
            minecraft:ghast_tear:0
            minecraft:gold_nugget:0
            minecraft:golden_horse_armor:0
            minecraft:gunpowder:0
            minecraft:hay_block:0
            minecraft:iron_horse_armor:0
            minecraft:lead:0
            minecraft:leather:0
            minecraft:magma_cream:0
            minecraft:name_tag:0
            minecraft:porkchop:0
            minecraft:rotten_flesh:0
            minecraft:saddle:0
            minecraft:slime_ball:0
            minecraft:speckled_melon:0
            minecraft:spider_eye:0
            minecraft:string:0
            minecraft:wool
         >

        # Add ore dictionary names for the hunter's backpack here in the format 'oreDictName'.
        S:oreDict <
         >
    }

    adventurer {
        # Add itemStacks for the adventurer's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
         >

        # Add ore dictionary names for the adventurer's backpack here in the format 'oreDictName'.
        S:oreDict <
         >
    }

    builder {
        # Add itemStacks for the builder's backpack here in the format 'modid:name:meta'. For wildcard metadata the format is 'modid:name'.
        S:itemStacks <
            Forestry:candle
            Forestry:stump
            minecraft:brick_block:0
            minecraft:clay:0
            minecraft:crafting_table:0
            minecraft:dispenser:0
            minecraft:dropper:0
            minecraft:furnace:0
            minecraft:hardened_clay
            minecraft:iron_bars:0
            minecraft:item_frame:0
            minecraft:ladder:0
            minecraft:lever:0
            minecraft:nether_brick:0
            minecraft:packed_ice:0
            minecraft:quartz_block
            minecraft:redstone_lamp:0
            minecraft:redstone_torch:0
            minecraft:sandstone:1
            minecraft:sandstone:2
            minecraft:sign:0
            minecraft:stained_hardened_clay
            minecraft:stonebrick
            minecraft:torch:0
         >

        # Add ore dictionary names for the builder's backpack here in the format 'oreDictName'.
        S:oreDict <
            blockAndesite
            blockApatite
            blockBlutonium
            blockBronze
            blockCarpet
            blockCloth
            blockCoal
            blockCopper
            blockCyanite
            blockDiamond
            blockDiorite
            blockEmerald
            blockEnderium
            blockGlass
            blockGlass
            blockGlassBlack
            blockGlassBlue
            blockGlassBrown
            blockGlassColorless
            blockGlassCyan
            blockGlassGray
            blockGlassGreen
            blockGlassLightBlue
            blockGlassLightGray
            blockGlassLime
            blockGlassMagenta
            blockGlassOrange
            blockGlassPink
            blockGlassPurple
            blockGlassRed
            blockGlassWhite
            blockGlassYellow
            blockGold
            blockGranite
            blockGraphite
            blockIce
            blockIron
            blockLapis
            blockLudicrite
            blockMarble
            blockMeatRaw
            blockQuartz
            blockRedstone
            blockSnow
            blockStainedHardenedClay
            blockTin
            blockWaterstone
            blockWool
            blockWoolBlack
            blockWoolBlue
            blockWoolBrown
            blockWoolCyan
            blockWoolGray
            blockWoolGreen
            blockWoolLightBlue
            blockWoolLightGray
            blockWoolLime
            blockWoolMagenta
            blockWoolOrange
            blockWoolPink
            blockWoolPurple
            blockWoolRed
            blockWoolWhite
            blockWoolYellow
            blockYellorium
            fenceWood
            glass
            paneGlass
            paneGlassBlack
            paneGlassBlue
            paneGlassBrown
            paneGlassColorless
            paneGlassCyan
            paneGlassGray
            paneGlassGreen
            paneGlassLightBlue
            paneGlassLightGray
            paneGlassLime
            paneGlassMagenta
            paneGlassOrange
            paneGlassPink
            paneGlassPurple
            paneGlassRed
            paneGlassWhite
            paneGlassYellow
            plankWood
            slabWood
            stainedClayBlack
            stainedClayBlue
            stainedClayBrown
            stainedClayCyan
            stainedClayGray
            stainedClayGreen
            stainedClayLightBlue
            stainedClayLightGray
            stainedClayLime
            stainedClayMagenta
            stainedClayOrange
            stainedClayPink
            stainedClayPurple
            stainedClayRed
            stainedClayWhite
            stainedClayYellow
            stainedGlassBlack
            stainedGlassBlue
            stainedGlassBrown
            stainedGlassCyan
            stainedGlassGray
            stainedGlassGreen
            stainedGlassLightBlue
            stainedGlassLightGray
            stainedGlassLime
            stainedGlassMagenta
            stainedGlassOrange
            stainedGlassPaneBlack
            stainedGlassPaneBlue
            stainedGlassPaneBrown
            stainedGlassPaneCyan
            stainedGlassPaneGray
            stainedGlassPaneGreen
            stainedGlassPaneLightBlue
            stainedGlassPaneLightGray
            stainedGlassPaneLime
            stainedGlassPaneMagenta
            stainedGlassPaneOrange
            stainedGlassPanePink
            stainedGlassPanePurple
            stainedGlassPaneRed
            stainedGlassPaneWhite
            stainedGlassPaneYellow
            stainedGlassPink
            stainedGlassPurple
            stainedGlassRed
            stainedGlassWhite
            stainedGlassYellow
            stairWood
            stone
         >
    }

}


